body{
    
    background-color: #F7F7F9;
}

a{
    text-decoration: none;
    color: black;
}
.rentcar-wrap{
    width: 100%;
    min-width: 1200px;
    height: auto;
    display: flex;
    justify-content: center;
    column-gap: 100px;
    margin: 40px auto;

}

.rentcar-wrap > .rent-sidebar{
    width: 420px;
    height: 250px;
    background-color: #fff;
    border-radius: 12px;
    position: sticky;
    top: 80px;
}

#rentcar-area{
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
}

#car-container{
    width: 720px;
    height: 330px;
    background-color: #D4D7DC;
    margin: 20px;
    border-radius: 10px;
}

#car-area{
    height: 60%;
}

#car-logo{
    width: 30%;
    float: left;
    padding: 20px;
}

#car-logo > p,
#car-logo > h3{
    margin: 5px;
}

#car-logo > img{
    width: 80px;
    height: auto;
    object-fit: cover;
}

#car-img{
    width: 60%;
    float: right;
}

#car-img > img{
    width: 100%;
    min-width: 300px;
    max-width: 450px;
    height: auto;
    min-height: 160px;
    max-height: 180px;
    object-fit: cover;
    float: right;
}

#price-area{
    width: 95%;
    height: 30%;
    border-radius: 10px;
    margin: 5px auto;
    padding: 10px;
    background-color: #FFFFFF;
    display: flex

}

#car-name{
    width: 40%;
    float: left;
    text-align: left;
    display: flex;
    flex-direction: column;
}

#car-tag{
    background-color: #50555C;
    color: white;
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#car-name > p{
    font-size: larger;
    font-weight: 600;
    margin: 5px 0;
}

#car-name > span{
    font-size: small;
    color: #C7C9CB;
}

#car-price{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: end;
}

#price-regular{
    text-decoration: line-through;
    font-size: small;
    color: #C7C9CB;
}

#price-sale{
    color: #47474A;
    font-size: large;
    font-weight: 600;
}

#sale-tag{
    font-size: small;
    text-align: right;
    color: coral;
}

#b-button{
    border: 0;
    background-color: transparent;
    width: 100px;
    height: 48px;
    margin-left: 10px;
    background-color: coral;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#car-price > a{
    margin-left: 30px;
    text-decoration: none;
    color: white;
}

#side-bar{
    text-align: center;
}

#rent-location{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rent-date{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    text-decoration: none;
}

#rent-date > input[type="text"]{
    border: none;
    background-color: #ffffff;
    font-size: larger;
}

#rent-date > input:focus {
    outline: none;
}

#rent-btn{
    width: 100%;
    height: 70px;
    background-color: #9bb2ce;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 10px 10px;
}

#rent-location > select{
    margin-left: 10px;
    font-size: larger;
    font-weight: 600;
}