body {
    font-family: "Noto Sans KR", system-ui;
    margin: 0;
    padding: 0;
}

/* section */
section {
    margin: 20px auto;
    padding: 20px;
    max-width: 1024px;
}

.sec {
    background-color: #ddeeed;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0px;
}

.gallery div {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

p{
    overflow: hidden;  		
    text-overflow: ellipsis;  	
    white-space: nowrap; 		
    word-break:break-all

}

.gallery img {
    width: 100%;
    height: 60%;
    border-radius: 8px;
}

.food {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0px;
}

.food div {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.food img {
    width: 100%;
    height: 60%;
    border-radius: 8px;
}

/* 행사 섹션 스타일 */
.events {
    display: flex;
    justify-content: space-around;
    gap: 0px; /* 박스 사이의 간격 */
    margin-bottom: 30px;
}

.events div {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    height: auto;
    min-width: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px; /* 각 박스 주변에 여백을 추가 */
    border: 2px solid black; /* 테두리(선) 색을 검은색으로 설정 */
}


.but {
    all: unset;
    float: right;
}
