<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
<display-name>lc_project3</display-name>
<welcome-file-list>
<welcome-file>index.html</welcome-file>
<welcome-file>index.jsp</welcome-file>
<welcome-file>index.htm</welcome-file>
<welcome-file>default.html</welcome-file>
<welcome-file>default.jsp</welcome-file>
<welcome-file>default.htm</welcome-file>
</welcome-file-list>
<servlet>
<description/>
<display-name>travel.info</display-name>
<servlet-name>travel.info</servlet-name>
<servlet-class>com.lc.project.travel.controller.travelInfoController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>travel.info</servlet-name>
<url-pattern>/travel.info</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>login.me</display-name>
<servlet-name>login.me</servlet-name>
<servlet-class>com.lc.project.member.Controller.MemberLoginviewController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>login.me</servlet-name>
<url-pattern>/login.me</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>enroll.me</display-name>
<servlet-name>enroll.me</servlet-name>
<servlet-class>com.lc.project.member.Controller.MemberEnrollController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>enroll.me</servlet-name>
<url-pattern>/enroll.me</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>travellist.info</display-name>
<servlet-name>travellist.info</servlet-name>
<servlet-class>com.lc.project.controller.travelInfoListController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>travellist.info</servlet-name>
<url-pattern>/travellist.info</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>recommend.tr</display-name>
<servlet-name>recommend.tr</servlet-name>
<servlet-class>com.lc.project.map.controller.TagRecommendController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>recommend.tr</servlet-name>
<url-pattern>/recommend.tr</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>selcetenroll.me</display-name>
<servlet-name>selcetenroll.me</servlet-name>
<servlet-class>com.lc.project.member.Controller.MemberSelectEnrollController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>selcetenroll.me</servlet-name>
<url-pattern>/selcetenroll.me</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>insert.me</display-name>
<servlet-name>insert.me</servlet-name>
<servlet-class>com.lc.project.member.Controller.MemberinsertController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>insert.me</servlet-name>
<url-pattern>/insert.me</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>login.mem</display-name>
<servlet-name>login.mem</servlet-name>
<servlet-class>com.lc.project.member.Controller.MemberloginController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>login.mem</servlet-name>
<url-pattern>/login.mem</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>insert.bs</display-name>
<servlet-name>insert.bs</servlet-name>
<servlet-class>com.lc.project.business.Controller.BusinessinsertController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>insert.bs</servlet-name>
<url-pattern>/insert.bs</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>login.bs</display-name>
<servlet-name>login.bs</servlet-name>
<servlet-class>com.lc.project.business.Controller.BusinessLoginViewController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>login.bs</servlet-name>
<url-pattern>/login.bs</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>bslogin.bs</display-name>
<servlet-name>bslogin.bs</servlet-name>
<servlet-class>com.lc.project.business.Controller.BusinessLoginController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>bslogin.bs</servlet-name>
<url-pattern>/bslogin.bs</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>logout.bs</display-name>
<servlet-name>logout.bs</servlet-name>
<servlet-class>com.lc.project.business.Controller.BusinessLogoutController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>logout.bs</servlet-name>
<url-pattern>/logout.bs</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>logout.me</display-name>
<servlet-name>logout.me</servlet-name>
<servlet-class>com.lc.project.member.Controller.MemberLogoutController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>logout.me</servlet-name>
<url-pattern>/logout.me</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>searchid.bn</display-name>
<servlet-name>searchid.bn</servlet-name>
<servlet-class>com.lc.project.business.Controller.BusinesssearchidController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>searchid.bn</servlet-name>
<url-pattern>/searchid.bn</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>searchpwd.bn</display-name>
<servlet-name>searchpwd.bn</servlet-name>
<servlet-class>com.lc.project.business.Controller.BusinesssearchpwdController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>searchpwd.bn</servlet-name>
<url-pattern>/searchpwd.bn</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>searchid.me</display-name>
<servlet-name>searchid.me</servlet-name>
<servlet-class>com.lc.project.member.Controller.MembersearchidController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>searchid.me</servlet-name>
<url-pattern>/searchid.me</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>searchpwd.me</display-name>
<servlet-name>searchpwd.me</servlet-name>
<servlet-class>com.lc.project.member.Controller.MembersearchpwdController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>searchpwd.me</servlet-name>
<url-pattern>/searchpwd.me</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>deletewish.tr</display-name>
<servlet-name>deletewish.tr</servlet-name>
<servlet-class>com.lc.project.travel.controller.wishDeleteController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>deletewish.tr</servlet-name>
<url-pattern>/deletewish.tr</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>main.tr</display-name>
<servlet-name>main.tr</servlet-name>
<servlet-class>com.lc.project.travel.controller.travelMainController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>main.tr</servlet-name>
<url-pattern>/main.tr</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>wish.tr</display-name>
<servlet-name>wish.tr</servlet-name>
<servlet-class>com.lc.project.travel.controller.travelWishController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>wish.tr</servlet-name>
<url-pattern>/wish.tr</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>hotel.list</display-name>
<servlet-name>hotel.list</servlet-name>
<servlet-class>com.lc.project.hotel.controller.hotelListController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>hotel.list</servlet-name>
<url-pattern>/hotel.list</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>list.rc</display-name>
<servlet-name>list.rc</servlet-name>
<servlet-class>com.lc.project.rentcar.controller.RentCarController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>list.rc</servlet-name>
<url-pattern>/list.rc</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>hotel.info</display-name>
<servlet-name>hotel.info</servlet-name>
<servlet-class>com.lc.project.hotel.controller.HotelInfoController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>hotel.info</servlet-name>
<url-pattern>/hotel.info</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>tr.hotel</display-name>
<servlet-name>tr.hotel</servlet-name>
<servlet-class>com.lc.project.map.controller.Travelhotelcontroller</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>tr.hotel</servlet-name>
<url-pattern>/tr.hotel</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>selectDate.rc</display-name>
<servlet-name>selectDate.rc</servlet-name>
<servlet-class>com.lc.project.rentcar.controller.SelectDateController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>selectDate.rc</servlet-name>
<url-pattern>/selectDate.rc</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>searchidview.me</display-name>
<servlet-name>searchidview.me</servlet-name>
<servlet-class>com.lc.project.member.Controller.SearchIdViewController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>searchidview.me</servlet-name>
<url-pattern>/searchidview.me</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>seachpwdview.me</display-name>
<servlet-name>seachpwdview.me</servlet-name>
<servlet-class>com.lc.project.member.Controller.SearchpwdViewController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>seachpwdview.me</servlet-name>
<url-pattern>/seachpwdview.me</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>insertview.me</display-name>
<servlet-name>insertview.me</servlet-name>
<servlet-class>com.lc.project.member.Controller.InsertViewController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>insertview.me</servlet-name>
<url-pattern>/insertview.me</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>searchidview.bs</display-name>
<servlet-name>searchidview.bs</servlet-name>
<servlet-class>com.lc.project.business.Controller.SeachIdViewController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>searchidview.bs</servlet-name>
<url-pattern>/searchidview.bs</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>seachpwdview.bs</display-name>
<servlet-name>seachpwdview.bs</servlet-name>
<servlet-class>com.lc.project.business.Controller.SearchpwdViewController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>seachpwdview.bs</servlet-name>
<url-pattern>/seachpwdview.bs</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>insertview.bs</display-name>
<servlet-name>insertview.bs</servlet-name>
<servlet-class>com.lc.project.business.Controller.InsertViewController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>insertview.bs</servlet-name>
<url-pattern>/insertview.bs</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>update.me</display-name>
<servlet-name>update.me</servlet-name>
<servlet-class>com.lc.project.member.Controller.MemberupdateController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>update.me</servlet-name>
<url-pattern>/update.me</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>update.bs</display-name>
<servlet-name>update.bs</servlet-name>
<servlet-class>com.lc.project.business.Controller.BusinessupdateController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>update.bs</servlet-name>
<url-pattern>/update.bs</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>membermyPage.mem</display-name>
<servlet-name>membermyPage.mem</servlet-name>
<servlet-class>com.lc.project.member.Controller.MembermyPageController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>membermyPage.mem</servlet-name>
<url-pattern>/membermyPage.mem</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>search.tr</display-name>
<servlet-name>search.tr</servlet-name>
<servlet-class>com.lc.project.travel.controller.travelSearchController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>search.tr</servlet-name>
<url-pattern>/search.tr</url-pattern>
</servlet-mapping>
</web-app>